<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Ambience</title>

  <!-- Framework CSS -->
	<link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<script type="text/javascript" src="/static/script/jquery-1.4.1.min.js"></script>
	<script type="text/javascript" src="/static/script/jquery.corner.js"></script>
	<script type="text/javascript" src="/static/script/jquery-ui/js/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript" src="/static/script/application.js"></script>
	{% block header %}{% endblock %}
</head>
<body>
	<div id="menu" class="rounded">
		{% block menu %}{% endblock %}
	</div>
	<div id="content">
		<noscript>
			<div class="error">Ambience thrives on Javascript. It might work without it, but we suggest turning it on for optimal performance.</div>
		</noscript>
		{% block content %}{% endblock %}
	</div>
<!-- GA -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-121463-14");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- END GA -->
</body>
</html>
