<div class="span-8 column rounded {{ column.column.service }}" id="{{ column.column.key }}" rel="{{ column.column.refresh_rate }}">
	<div class="column-title">
		<h3>
			{{ column.column.column_description|escape }}
			<div class="tools hidden">
				<a href="#" title="Reload Column" class="reload"><img class="reload" src="/static/img/reload.png" border="0" /></a>
				<a href="#" title="Remove Column" class="remove"><img class="remove" src="/static/img/remove.png" border="0" /></a>
			</div>
		</h3>
		<!--
		{% if column.column.muted %}
			<small>Muted: {{ column.column.muted }}</small>
		{% endif %}
		-->
	</div>
	<div class="column-content">
		{% include "column-partial.html" %}
	</div>
</div>
