{% extends "base.html" %}
{% block menu %}
	<ul>
		<li><a href="{{ login_url }}">Log In</a></li>
	</ul>
	<br class="clear" />
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="front-page container rounded">
	<h1>It's called Ambience.</h1>

	<p><strong>Keep up with Twitter via the web, from anywhere.</strong></p>
	<p>Ambience also allows you to mute conversations via <a href="http://www.regular-expressions.info/">regular expressions</a>.</p>
	<p>This is in uber-beta, so if it all gets wiped away, you can't cry about it. Swim at your own risk. There is no lifeguard on duty.</p>

	<p><strong>To get started</strong> <a href="{{ login_url }}">log in with your Google Account</a>.</p>


	<p>&nbsp;</p>
	<p>
		Q: Who's responsible for this thing? 
		<br/>
		A: <a href="http://dailytechnology.net">Brian Dailey</a> (<a href="http://twitter.com/brian_dailey">@brian_dailey</a>)
		<br/>
		<br/>
		Q: Why?
		<br/>
		A: Well, that requires a list.
		<ul>
			<li>I like TweetDeck but I don't like Adobe Air.</li>
			<li>I wanted the ability to mute certain keywords.</li>
			<li>I also didn't like giving out my password. This app uses OAuth instead.</li>
			<li>Got a suggestion or a comment? Feel free to <a href="http://realm3.com/contact">tell me about it</a>.</li>
		</ul>
		<br/>
	</p>
	
</div>
{% endblock %}
